* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100dvh;
}

header {
    background-color: black;
    box-shadow: 0 0 36px 0;
    backdrop-filter: blur(3px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 1.2rem 0rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

li {
    padding: 0rem 1.1rem;
    float: left;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
}

li a:hover {
    color: #91b2ff;
    transition: all .3s ease-in-out
}

.button {
    display: flex;
    gap: 1rem;
}

.button button {
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 20%;
    cursor: pointer;
}

.button button:hover {
    background-color: #fff;
    color: #152939;
    transition: all .3s ease-in-out;
}
/* CSS Styles */
  
.banner {
    background-color: #333;
    color: #fff;
    padding: 250px;
    text-align: center;
    background-image:url(banner2.jpg) ;
}
  
.content {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}
  
.content h2 {
    margin-bottom: 10px;
    text-align: center;
    color: goldenrod;
}
  
.content p {
    margin-bottom: 20px;
    color: #ccc;
    text-align: center;
}
  
.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
  
.highlight-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    
}
  
.highlight-box h3 {
    margin-bottom: 10px;
    color: black;
}
  
.highlight-box p {
    margin-bottom: 10px;
    color: black;
    text-align: center;
}
.our-values {
  display: flex;
  justify-content: space-between;
}

.value-item {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.value-item h3 {
  margin-bottom: 10px;
}

.value-item p {
  margin-bottom: 0;
}
.why-choose-us {
  display: flex;
  justify-content: space-between;
}

.choose-us-item {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.choose-us-item h3 {
  margin-bottom: 10px;
  color: goldenrod;
}

.choose-us-item p {
  margin-bottom: 0;
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: goldenrod;
}
  
.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.team-card {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: gray;
    transition: all 0.4s ease-in;
}
  
.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
  
.team-card h4 {
    margin-bottom: 5px;
}
  
.team-card p {
    margin-bottom: 0;
}
.team-card:hover {
    transform: translateY(-1.5rem);
    border: white 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
}
  
  


.date-time {
  color: rgba(7, 63, 216, 1);
  font-size: 12px;
  font-weight: 600;
}


.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-evenly;
}

.testimonial {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.testimonial p {
  margin-bottom: 10px;
}

.testimonial-name {
  font-style: italic;
}

.testimonial-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  color: #f3ce00;
  margin: 0 2px;
}

.author {
  margin-top: 1.3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 1);
}
  

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  margin-bottom: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #bbb;
}
  