* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100dvh;
}

header {
    background-color: black;
    box-shadow: 0 0 36px 0;
    backdrop-filter: blur(3px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 1.2rem 0rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

li {
    padding: 0rem 1.1rem;
    float: left;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
}

li a:hover {
    color: #91b2ff;
    transition: all .3s ease-in-out
}

.button {
    display: flex;
    gap: 1rem;
}

.button button {
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 20%;
    cursor: pointer;
}

.button button:hover {
    background-color: #fff;
    color: #152939;
    transition: all .3s ease-in-out;
}
.banner{
    background-color: #333;
    color: #fff;
    padding: 150px;
    text-align: center;
}
.contact-details{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
  
.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
  
.form label {
    position: relative;
}
  
.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
}
  
.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input:valid + span {
    color: green;
}
  
.input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}
  
.form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
}
  
.form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input01:valid + span {
    color: green;
}
  
.fancy {
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}
  
.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}
  
.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #818181;
    transform: translateX(30%);
}
  
.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}
  
.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
  
.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
  
.fancy:hover {
    color: white;
    background: #cacaca;
}
  
.fancy:hover::before {
    width: 1.5rem;
    background: white;
}
  
.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}
  
.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}
  
.fancy:hover .bottom-key-1,.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}
.left-image,.right-image {
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
  }  
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #bbb;
}