* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100dvh;
}

header {
    background-color: black;
    box-shadow: 0 0 36px 0;
    backdrop-filter: blur(3px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 1.2rem 0rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

li {
    padding: 0rem 1.1rem;
    float: left;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
}

li a:hover {
    color: #91b2ff;
    transition: all .3s ease-in-out
}

.button {
    display: flex;
    gap: 1rem;
}

.button button {
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 20%;
    cursor: pointer;
}

.button button:hover {
    background-color: #fff;
    color: #152939;
    transition: all .3s ease-in-out;
}
  
.banner {
    background-color: #333;
    color: #fff;
    padding: 250px;
    text-align: center;
    background-image:url(listingsbanner.jpg)  ;
    
    
}
.banner h1{
    color: goldenrod;
}
  
.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.car-card {
    width: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    background-color: #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.car-card:hover {
    box-shadow: 0 0 20px goldenrod;
    border-color: goldenrod;
  }
  
.car-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
  
.car-card h2 {
    margin-bottom: 10px;
}
  
.car-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
  
.car-card li {
    margin-bottom: 5px;
}
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    
   }
   
   button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    
}
   
button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}
   
@keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #bbb;
}