* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100dvh;
}

header {
    background-color: black;
    box-shadow: 0 0 36px 0;
    backdrop-filter: blur(3px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 1.2rem 0rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

li {
    padding: 0rem 1.1rem;
    float: left;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
}

li a:hover {
    color: #91b2ff;
    transition: all .3s ease-in-out
}

.button {
    display: flex;
    gap: 1rem;
}

.button button {
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 20%;
    cursor: pointer;
}

.button button:hover {
    background-color: #fff;
    color: #152939;
    transition: all .3s ease-in-out;

}
.banner {
    background-color: #333;
    color: #fff;
    padding: 200px;
    text-align: center;
    background-image: url(s550top.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }    

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .car-gallery {
    margin-top: 20px;
  }
  
  .car-gallery img {
    width: 300px;
    height: auto;
    margin-right: 10px;
  }
  
  .car-specifications {
    margin-top: 30px;
    text-align: center;
    flex-direction: column;

  }
  
  .car-specifications h2 {
    margin-bottom: 10px;
    color: gold;
  }
  
  .car-specifications ul {
    list-style: none;
    padding-left: 0;
  }
  
  .car-specifications ul li {
    margin-bottom: 5px;
    color: #fff;
  }
  
  .car-specifications ul li i {
    margin-right: 5px;
    color: goldenrod;
  }
  
  .order-button {
    margin-top: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #bbb;
}
  